<div class="card">
  <div class="grid grid-cols__2 grid-row-gap__2 grid-col-gap__2">
    <div>
      <h3>Credit Card</h3>
      <div class="grid grid-cols__2 grid-row-gap__1 grid-col-gap__1">
        <div class="grid-col__1-3">
          <label for="">Name</label>
          <input type="text" name="" value="">
        </div>
        <div class="grid-col__1-3">
          <label for="">Card number</label>
          <input type="text" name="" value="">
        </div>
        <div>
          <label for="">Expirary Date</label>
          <input type="date" name="df">
        </div>
        <div>
          <label for="">CVV</label>
          <input type="text" name="" value="">
        </div>
      </div>
    </div>
    <div>
      <h3>Lodge Funds</h3>
      <div class="section">
        <label for="">Amount</label>
        <input />
      </div>
      <button class="button">Lodge Funds</button>
    </div>
  </div>
</div>
