<div class="card">
  <div class="grid grid-cols__3 grid-col-gap__2">
    <div>
      <h3 class="h5">
        From
      </h3>
      <div class="bank-account-card">
        <div class="bank-account-card__account">
          Current Account
        </div>
        <div class="bank-account-card__balance">
          {{this.account.accountNumber}}
        </div>
      </div>
    </div>
    <div>
      <h3 class="h5">
        To
      </h3>
      {{input value=this.toAccountIBan type="text" placeholder="Enter IBAN"}}
    </div>
    <div>
      <h3 class="h5">
        Amount
      </h3>
      <div class="flex section">
        <div class="currency">
          €
        </div>
        {{input value=this.transferAmount type="number" step=".01" placeholder="0"}}
      </div>
      <button class="button">Transfer Funds</button>
    </div>
  </div>
</div>
