.page-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 3em;
  width: 90%;

  &--small {
    max-width: 600px;
  }
}

.main-toolbar {
  background: $primary-color;
  padding: 1em;
  color: white;
  box-shadow:  0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  // margin-bottom: 2.5em;
  font-size: 1.8em;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
    line-height: 0;

    &:first-child {
      flex-grow: 1;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .username {
    font-size: .6em;
    position: relative;
    top: -5px;
  }
}

.page-header {
  display: flex;
  padding: 1em 0;
  margin-top: 1em;

  h1 {
    margin: 0;
    flex-grow: 1;
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }

  a, span {
    display: inline-block;
    color: $primary-color;
    font-size: .9em;
    padding: .5em .8em;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $primary-color;
    margin-left: 1em;

    &:hover {
      background-color: $primary-color;
      color: white;
      cursor: pointer;
    }
  }

}

.admin-header {
  background-color: white;
  padding: 2em;
  h1 {
    margin: 0
  }
}

.admin-nav {
  margin-bottom: 4em;
  background-color: #373d49;
  // background-color: white;
  color: white;
  display: flex;
  // position: fixed;
  // top: 89.27px;
  // bottom: 0;
  // width: 170px;
  a {
    display: block;
    color: darken(white, 25%);
    text-decoration: none;
    padding: 1.7em;
    &.active {
      color: white;
    }
    svg {
      // color: $primary-color;
      // margin-right: 5px;
      // position: absolute;
      // left: 16px;
    }
    span {
      // position: absolute;
      // left: 50px;
    }
  }
}

.admin-page-container {
  margin: auto;
  // margin-top: 3em;
  max-width: 900px;
}
