.bank-account-overview {
  margin-bottom: 2em;

  .card {
    padding: 0;
  }

  &__header {
    padding: 1em 2em;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 1em;

    small {
      margin-bottom: 5px;
      display: inline-block;
    }

    > div:first-child {
      flex-grow: 1;
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  }

  &__dropdown-link {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1em;
    border-bottom: 1px solid #f5f5f5;
  }

  &__body {
    display: flex;

    p {
      flex-grow: 1;
      text-align: center;
    }
  }
}
