.ember-basic-dropdown-content {
  ul {
    margin: 0;
    padding: 0;
    @extend .card;
  }

  li {
    list-style-type: none;
    padding: .5em 1em;
    position: relative;
    border-bottom: 1px solid #eee;

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      border: none;
    }

    a {
      color: black;
      text-decoration: none;
      display: block;
    }
  }
}
