<MainToolbar />
<div class="page-container">
  <BankAccountForm
    @branchOptions={{this.branchOptions}}
    @bankAccount={{this.model.bankAccount}}
    @accountTypeOptions={{this.accountTypeOptions}}
    @onUpdateBankAccount={{action "updateBankAccount"}}
  />
</div>
