<MainToolbar />
<div class="page-container">
  <BankAccountForm
    @branchOptions={{this.branchOptions}}
    @accountTypeOptions={{this.accountTypeOptions}}
    @onCreateBankAccount={{action "createBankAccount"}}
  />
</div>
