<MainToolbar />
<div class="page-container page-container--small">
  <div class="card">
    <h1 class="center">Sign In</h1>
    <div class="section">
      <label for="">Email</label>
      <input type="text" name="" value="">
    </div>
    <div class="section">
      <label for="">password</label>
      <input type="text" name="" value="">
    </div>
    <div class="flex flex-direction__row-reverse">
      <button class="button">Sign in</button>
    </div>
  </div>
</div>
